// === MAIN NAVIGATION STYLES ===

.main-nav {
  background-color: $primary-color;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;

  & a {
    color: $light-color;
  }
}

.toggle-menu {
  z-index: 100;
}

.toggle-menu-inner-box {
  position: relative;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-burger {
  height: 2px;
  min-width: 3rem;
  background-color: $light-color;
  transition: 300ms;
}

.menu-button-burger::before,
.menu-button-burger::after {
  content: '';
  height: 2px;
  width: 3rem;
  background-color: $light-color;
  position: absolute;
}

.menu-button-burger::before,
.menu-button-burger::after {
    content: '';
    height: 2px;
    width: 3rem;
    background-color: $light-color;
    position: absolute;
}

.menu-button-burger::before {
    transform: translateY(-1rem);
    transition: 300ms;
}

.menu-button-burger::after {
    transform: translateY(1rem);
    transition: 300ms;
}

.toggle-menu.open .menu-button-burger {
    transform: translateX(-1rem);
    background-color: transparent;
}

.toggle-menu.open .menu-button-burger::after {
    transform: translate(1rem) rotate(45deg);
}

.toggle-menu.open .menu-button-burger::before {
    transform: translate(1rem) rotate(-45deg);
}

.nav-wrap {
  width: 100%;
  // margin: 0 16px;
  align-items: center;
  // max-width: 1020px;
}

.collapse-nav {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
  left: 0;
  overflow: hidden;
  top: 100px;
  height: 100vh;
  transition: 300ms;
  background-color: $primary-color;
}

.list-item {
  display: block;
  text-align: center;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  // &.active {
  //   color: $gradient;
  // }
}

.link {
  display: block;
  padding: 16px;
}

.secondary-nav {
  padding: 40px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  transform: translateY(0%);
  transition: 300ms;
}

/* ----------------------------- MEDIA QUERIES ---------------------- */

@media (min-width: 600px) {
  .toggle-menu {
    display: none;
  }

  .collapse-nav {
    display: flex;
    position: unset;
    transform: translateY(0%);
    z-index: 10;
    justify-content: space-between;
    height: unset;
    background-color: transparent;
  }

  .nav-icon-wrapper {
    justify-content: flex-end;
  }

  .nav-ul {
    display: flex;
  }

  .secondary-nav {
    padding: 0;
  }
}